.task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: fit-content;
    padding: 15px 10px;
    transition: all 200ms ease-in-out;
}

.task-card:hover {
    transform: scale(1.03);
}

.task-card {
    background-color: var(--color-floral-white);
    border: 2px solid var(--color-light-gray);
    border-radius: 2px;
}   

.text-card {
    width: 90%;
    word-break: break-all;
    line-height: 1.3rem;
    color: var(--color-dark-gray);
}

.fa-trash-can {
    width: 10%;
    font-size: 1.4rem;
    transition: all 100ms ease-in-out;
}

.fa-trash-can:hover {
    color: var(--color-red);
}