:root {
    --color-white: #FFFFFF;
   --color-floral-white:#dfe6e9;
   --color-light-gray: #b2bec3;
   --color-gray: #636e72;
   --color-dark-gray:#2d3436;
   --color-red: #d63031;
   --color-blue: #6c5ce7;
   --color-clouds: #ecf0f1;
}