.tasks-cantainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    min-width: 300px;
    width: auto;
    height: 400px;
    gap: 30px;
    margin: 40px 20px;
    padding: 20px 10px;
    overflow-y: scroll;
}

.tasks-cantainer {
    border: 2px solid var(--color-light-gray);
    border-radius: 5px;
}